<!-- <app-header (toggleSidebarOpened)="sidebarToggle()"></app-header>

<mat-drawer-container>
  <mat-drawer mode="over" [opened]="sidebarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container> -->

<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      *ngIf="sidenav.mode == 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span>App Logo</span>

    <span class="example-spacer"></span>

    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Example heart icon"
        >settings</mat-icon
      >
    </button>

    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Example delete icon"
        >help_outline</mat-icon
      >
    </button>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div class="profile-card">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="avatar"
      />
    </div>
    <h4 class="name">Danicode</h4>
    <p class="designation">Programador</p>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button> <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Acerca de </span>
    </button>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
