<p-dialog
  header="Header"
  [(visible)]="displayResponsive"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  (onHide)="hideResponsiveDialog()"
>
  <form autocomplete="off" [formGroup]="myForm">
    <div class="card">
      <div class="p-fluid">
        <div class="p-field">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            pInputText
            formControlName="name"
            [(ngModel)]="customer!.name"
          />
        </div>
        <div class="p-field">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            [(ngModel)]="customer!.email"
          />
        </div>
        <div class="p-field">
          <label for="age">Age</label>
          <p-inputNumber
            [showButtons]="true"
            inputId="age"
            [min]="18"
            [max]="100"
            formControlName="age"
            [(ngModel)]="customer!.age"
          >
          </p-inputNumber>
        </div>
        <input
          id="id"
          type="text"
          formControlName="id"
          [(ngModel)]="customer!.id"
          hidden
        />
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      (click)="cancel()"
      label="Cancelar"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      *ngIf="!isUpdateEnable"
      type="submit"
      (click)="save(myForm)"
      label="Crear"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      *ngIf="isUpdateEnable"
      type="submit"
      (click)="update(myForm)"
      label="Actualizar"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
