<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="submit()">
  <p-dialog
    header="Header"
    [(visible)]="displayResponsive"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    (onHide)="hideResponsiveDialog()"
  >
    <div class="card">
      <div class="p-fluid">
        <div class="p-field">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            pInputText
            formControlName="name"
            [(ngModel)]="customer!.name"
          />
          <small *ngIf="validateField('name')" id="name" class="p-error"
            >Debe escribir nombre y apellido.</small
          >
        </div>
        <div class="p-field">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            [(ngModel)]="customer!.email"
          />
          <small *ngIf="validateField('email')" id="email" class="p-error">
            {{ emailErrorsMessages }}
          </small>
          <!-- <small *ngIf="validateEmail()" id="email" class="p-error"
            >El correo es requerido.</small
          >
          <small *ngIf="validateEmailPattern()" id="email" class="p-error"
            >El correo no tiene el formato deseado.</small
          > -->
        </div>
        <div class="p-field">
          <label for="age">Age</label>
          <p-inputNumber
            [showButtons]="true"
            inputId="age"
            [min]="18"
            [max]="100"
            formControlName="age"
            [(ngModel)]="customer!.age"
          >
          </p-inputNumber>
        </div>
        <input
          id="id"
          type="text"
          formControlName="id"
          [(ngModel)]="customer!.id"
          hidden
        />
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        (click)="cancel()"
        label="Cancelar"
        styleClass="p-button-text"
      ></p-button>
      <button
        pButton
        type="submit"
        [disabled]="myForm.invalid"
        label="{{ !isUpdateEnable ? 'Crear' : 'Actualizar' }}"
      ></button>
    </ng-template>
  </p-dialog>
</form>
