<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Título de cabecera</h2>
      <h4>danicode@code.com</h4>
    </div>

    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="avatar"
    />
  </div>

  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data </mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active">Dashboard</a>

      <a mat-list-item routerLinkActive="list-item-active">Posts</a>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data </mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active">Dashboard</a>

      <a mat-list-item routerLinkActive="list-item-active">Posts</a>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
