<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login"> Ir a Login</a>
  </li>
  <li>
    <a routerLink="/auth/register"> Ir a Registro</a>
  </li>
  <li>
    <a routerLink="/auth/login"> Ir a Login</a>
  </li>
  <li>
    <a routerLink="/heroes/list"> Ir Lista de Héroes</a>
  </li>
  <li>
    <a routerLink="/heroes/create"> Ir a Crear de Héroes</a>
  </li>
  <li>
    <a routerLink="/heroes/edit/3"> Ir a Editar de Héroes</a>
  </li>
  <li>
    <a routerLink="/heroes/search"> Ir a Buscar de Héroes</a>
  </li>
</ul>
