<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="profile-card">
      <!--  -->
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="avatar"
        />
        <div>@Danicode</div>
        <div>Adminstrador</div>
      </div>

      <!--  -->
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon style="margin-right: 10px">supervised_user_circle</mat-icon>
        Usuarios
      </a>
      <a mat-list-item routerLink="/forms">
        <mat-icon style="margin-right: 10px">question_answer</mat-icon>
        Formularios</a
      >
      <a mat-list-item routerLink="/maps">
        <mat-icon style="margin-right: 10px">place</mat-icon>
        Mapas</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dasboard Material</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
