$base: #fafafa;
$base-dark: #c0c0c0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #412554;
$primary-dark: #1b002b;
$primary-ligth: #6d4e81;
$on-primary: #ffffff;

$secondary: #ffe4a8;
$secondary-dark: #cbb278;
$secondary-ligth: #ffffda;
$on-secondary: #000000;


$error: #d32f2f;
$on-error: #ffffff;

$success: #6abf69;
$on-success: #000000;
