<form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">
  <div class="form-group">
    <!-- Producto -->
    <label for="product" class="form-control-label">Producto</label>
    <input
      class="form-control"
      type="text"
      formControlName="product"
      placeholder="Nombre de producto"
      id="product"
    />
    <span *ngIf="validarCampos('product')" class="form-text text-danger">
      Producto debe tener al menos 3 caracteres
    </span>
  </div>

  <div class="form-group">
    <label for="price" class="form-control-label">Precio</label>
    <input
      class="form-control"
      type="number"
      formControlName="price"
      placeholder="Precio"
      id="price"
    />
    <span *ngIf="validarCampos('price')" class="form-text text-danger">
      Precio debe ser mayor a 0
    </span>
  </div>
  <!-- Stock -->
  <div class="form-group">
    <label for="stock" class="form-control-label">Stock</label>
    <input
      class="form-control"
      type="number"
      formControlName="stock"
      placeholder="Cantidad disponible"
      id="stock"
    />
    <span *ngIf="validarCampos('stock')" class="form-text text-danger">
      Debe haber más de 4 productos
    </span>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-default" style="float: right">
        Guardar
      </button>
    </div>
  </div>
</form>

<hr />

<div class="row">
  <div class="col-8">
    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>
  </div>
</div>
